{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/more_playlist.css' %}" />
<script src="{% static 'script/more_playlist.js' %}"></script>
{% endblock %}

{% block content %}


  <div class="container">
    <div class="sec1">
        <h2>{{target_gameplaylist.title }}</h2>
        <div class="playlist-info">
            <span>{{ target_gameplaylist.created_at | date:"Y.m.d"}} 생성됨</span>
          <div class="playlist-buttons">
            <button onclick="pageLink()">
              <img src="{% static 'img/share.png' %}" alt="공유" />
            </button>
              {% if user.is_authenticated and user == target_gameplaylist.author %}
                <button onclick="deletePlaylist( {{target_gameplaylist.pk}} )">
                    <img src="{% static 'img/trash.png' %}" alt="제거" />
                </button>
               {% endif %}
              {% if user.is_authenticated and user != target_gameplaylist.author %}
                <button onclick="collectPlaylist(
                    {% if collected %} '플레이리스트를 담은 게임에서 삭제하겠습니까?'
                    {% else %} '플레이리스트를 담으시겠습니까?'
                    {% endif %} )">
                    {% if collected %} 삭제 {% else %} 담기 {% endif %}
                </button>
               {% endif %}
          </div>
        </div>
        <div class="playlist-thumbnail">
            {% if target_gameplaylist.image %}
            <img style="width:100%; border-radius=1rem; margin:2rem 0;"
             src="{{target_gameplaylist.image.url }}" alt="">
            {% else %}
            <img src="{% static 'img/thumbnail.png' %}" alt="..">
            {% endif %}
        </div>
    </div>

        <div class="sec2">
            {% if games %}
            <ul>
                {% for game in games %}
                    {% include 'snippets/more_playlist_game_part.html' with game=game %}
                {% endfor %}
            </ul>
            {% else %}
<!--            <h3 style="text-align:center;">아직 담은 게임이 없습니다</h3>-->
            {% endif %}
        </div>
    </div>

{% endblock %}