{% extends 'base.html' %}
{% load static %}

{% block content %}


  <div>
    <div style="text-align:center; max-width: 700px; margin: 4rem auto;">
        <h1>{{target_gameplaylist.title }}</h1>
        <div>
            {% if user.is_authenticated and user == target_gameplaylist.author %}
                <a class="btn btn-info float-right "href="{% url 'gameplaylist:delete'  pk=target_gameplaylist.pk %}" role="button">
                        <i class="fas fa-pen">Delete Gamelist</i>
                </a>
            {% endif %}
        </div>

        <hr>

        {% if target_gameplaylist.image %}
        <img style="width:100%; border-radius=1rem; margin:2rem 0;"
             src="{{target_gameplaylist.image.url }}" alt="">
        {% else %}
            <img src="{% static 'img/thumbnail.png' %}" alt="..">
        {% endif %}

        <hr>

        <div>
            {% if games %}
                {% for game in games %}
                    {% include 'snippets/game_part.html' with game=game %}
                        {% if user.is_authenticated and user == target_gameplaylist.author %}
                        <a href="{% url 'gameplaylist:remove_game' pk1=target_gameplaylist.pk pk2=game.pk %}" role="button">삭제</a>
                        {% endif %}
                {% endfor %}
            {% endif %}
        </div>

    </div>

  </div>

{% endblock %}