{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/like_more.css' %}?after" />
{% endblock %}

{% block content %}
<!-- 최근 인기 게임 div -->
    <div class="img_wrapper">
      <!-- 좋아요한 게임 배너 -->
      <div class="likemore">
        <img src="{% static 'img/blacklike.png' %}" />
        <p>좋아요한 게임</p>
        <h4>{{ like_count }}</h4>
      </div>

      <!-- 게임 div -->
      <ul class="img_list">
        {% for game in liked_list1 %}
          {% include 'snippets/like_more_game_part.html' %}
        {% endfor %}
      </ul>
    </div>

<div class="img_wrapper">
    <ul class="img_list">
        {% for game in liked_list2 %}
          {% include 'snippets/like_more_game_part.html' %}
        {% endfor %}
    </ul>
</div>
{% endblock %}