{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/add_user.css' %}?after" />
{% endblock %}

{% block content %}
<div class="member_wrapper">
    <form method="post"
          action=""
          name="join-form"
          onsubmit="return join()">
        {% csrf_token %}
        {% include "form_errors.html" %}

        <!-- 1. 회원 가입 -->
        <div class="member">
            <p id="large_text"> 회원가입 </p>

            <!-- 2. 필드 -->
            <div class="field">
                <label for="email"><p>이메일</p></label>
                <input type="email" id="email" name="email" placeholder="abc@naver.com"
                       value="{{ form.email.value|default_if_none:'' }}">
            </div>

            <div class="field">
                <label for="nickname"><p>닉네임</p></label>
                <input type="text" id="nickname" name="nickname" placeholder="닉네임을 입력해주세요."
                value="{{ form.nickname.value|default_if_none:'' }}">
            </div>
            <div class="field">
                <label for="password1"><p>비밀번호</p></label>
                <input type="password" id="password1" name="password1" placeholder="영문/숫자/특수문자 조합(10자 이상)"
                value="{{ form.password1.value|default_if_none:'' }}">
            </div>
            <div class="field">
                <label for="password2"><p>비밀번호 확인</p></label>
                <input type="password" id="password2" name="password2" placeholder="비밀번호를 다시 한 번 입력해주세요"
                value="{{ form.password2.value|default_if_none:'' }}">
            </div>



        </div>

        <!-- 3. 서비스 약관 동의 -->
        <label for="total-check">
          <div class="check">
            <input
            type="checkbox"
            onclick="toggleCheckboxes()"
            id="total-check"/>
            <span id="medium_text">전체 동의</span>
          </div>
        </label>
        <label for="first-check">
            <div class="check">
            <input
            type="checkbox"
            id="first-check"
            onclick="toggleTotalCheck()"/>
            <span>서비스 이용약관 동의(필수)</span>
            </div>
          </label>
        <label for="second-check">
            <div class="check">
            <input
            type="checkbox"
            id="second-check"
            onclick="toggleTotalCheck()"/>
            <span>개인정보 수집 및 이용 동의(필수)</span>
            </div>
        </label>

        <input type="submit" value="회원가입 하기">
    </form>
</div>

<!--약관 동의 -->
<div class="terms">
    <div>
        <p>
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
        </p>
    </div>
    <div>
        <p>
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            약관 어쩌구,.... Text Text Text Text Text Text Text Text Text Text Text Text Text Text
        </p>
    </div>
</div>


<script>
var totalCheckbox = document.getElementById("total-check");
var firstCheckbox = document.getElementById("first-check");
var secondCheckbox = document.getElementById("second-check");

function toggleCheckboxes() {
    if (totalCheckbox.checked) {
        firstCheckbox.checked = true;
        secondCheckbox.checked = true;
    } else {
        firstCheckbox.checked = false;
        secondCheckbox.checked = false;
    }
}

function toggleTotalCheck() {
    if (firstCheckbox.checked && secondCheckbox.checked) {
        totalCheckbox.checked = true;
    } else {
        totalCheckbox.checked = false;
    }
}

function join() {
    var nickname = document.getElementById("nickname");
    var email = document.getElementById("email");
    var password1 = document.getElementById("password1");
    var password2 = document.getElementById("password2");


    if (email.value == "") {
        alert("이메일을 입력해주세요.");
        email.focus();
        return false;
    }

    if (nickname.value == "") {
        alert("닉네임을 입력해주세요.");
        nickname.focus();
        return false;
    }

    if (password1.value == "") {
        alert("비밀번호를 입력해주세요.");
        password1.focus();
        return false;
    }
    if (password1.value.length < 10) {
        alert("비밀번호는 10자 이상이어야 합니다.");
        return false;
    }
    if (password2.value == "") {
        alert("비밀번호 확인을 입력해주세요.");
        password2.focus();
        return false;
    }
    if (password2.value != password1.value) {
        alert("비밀번호가 일치하지 않습니다.");
        password2.focus();
        return false;
    }

    if (totalCheckbox.checked == false) {
        alert("서비스 약관에 동의해주세요.");
        totalCheckbox.focus();
        return false;
    }

    //회원가입 처리 코드

    //회원가입 처리 이후
    <!--window.location.href = "./login.html";-->
    return true;
  }

</script>

{% endblock %}
