{% load static %}
<a href="{% url 'gameplaylist:detail' pk=gamelist.pk%}">
              <li>
                  {% if gamelist.image %}
                      <img src="{{ game.image.url }}" width="100px" height="100px" alt="">
                  {% else %}
                      <img src="{% static 'img/thumbnail.png' %}" alt="">
                  {% endif %}

                  <div class="like-game-element">
                      <div class="about-game">
                          <h4>{{gamelist.title | truncatechars:45 }}</h4>
                          <p>{{ gamelist.created_at | date:'Y.m.d' }}</p>
                      </div>
                      <div class="likes">
                          <img src="{% static 'img/likefull.png' %}" alt="하트이미지" />
                          <span>5</span>
                      </div>
                  </div>
              </li>
          </a>