{% load static %}
    <a href="{% url 'game:detail' pk=game.pk%}">
        <li>
            {% if game.image %}
            <img src="{{ game.image.url }}" width="100px" height="100px" alt="">
            {% else %}
            <img src="{% static 'img/title.png' %}" alt="">
            {% endif %}
            <div class="list-info">
                <div class="list-title">
                    <span>{{ game.title | truncatechars:45 }}</span>
                    {% if user.is_authenticated and user == target_gameplaylist.author %}
                    <button class="delete-button" onclick="deleteElement({{game.pk}})">
                        <img src="{% static 'img/trash.png' %}" alt="제거" />
                    </button>
                    {% endif %}
                </div>
                <ul class="game-info">
                    <li>
                      <span>인원</span>
                      <p>{{game.min_num_ppl}}-{{game.max_num_ppl}}명</p>
                    </li>
                    <li>
                      <span>시간</span>
                      <p>{{game.min_time}}-{{game.max_time}}분</p>
                    </li>
                    <li>
                      <span>상황</span>
                      <p>{{game.situation}}</p>
                    </li>
                    <li>
                      <span>범위</span>
                      <p>{{game.place}}</p>
                    </li>
                </ul>
            </div>
        </li>
    </a>