{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="img_wrapper" >
        <p>최근 인기</p>
        <h3><a href="{% url 'page:likedRanking' %}" role="button">최근 인기 게임 > </a></h3>

        <ul class="img_list">
            {% for game in liked_ranking %}
            <li>
                <a href="{% url 'game:detail' pk=game.pk %}"><img src="{% static 'img/thumbnail.png' %}"></a>
                <div>
                    <h2><a href="{% url 'game:detail' pk=game.pk %}">{{game.title}} - {{game.author }}</a></h2>
                    <img src="{% static 'img/likefull.png' %}" class="like-icon" style="display: none;">
                    <img src="{% static 'img/like.png' %}" class="like-icon">
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

<div class="img_wrapper" >
    <p>상황 별 게임</p>
    <h3><a href="{% url 'page:situationRanking' pk=0 %}">술자리 게임 > </a></h3>
    <ul class="img_list">
        {% for game in situation_ranking1 %}
        <li>
            <a href="{% url 'game:detail' pk=game.pk %}"><img src="{% static 'img/thumbnail.png' %}"></a>
            <div>
                <h2><a href="{% url 'game:detail' pk=game.pk %}">{{game.title}} - {{game.author }}</a></h2>
                <img src="{% static 'img/likefull.png' %}" class="like-icon" style="display: none;">
                <img src="{% static 'img/like.png' %}" class="like-icon">
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="img_wrapper" >
    <h3><a href="{% url 'page:situationRanking' pk=1 %}">MT > </a></h3>
    <ul class="img_list">
        {% for game in situation_ranking2 %}
        <li>
            <a href="{% url 'game:detail' pk=game.pk %}"><img src="{% static 'img/thumbnail.png' %}"></a>
            <div>
                <h2><a href="{% url 'game:detail' pk=game.pk %}">{{game.title}} - {{game.author }}</a></h2>
                <img src="{% static 'img/likefull.png' %}" class="like-icon" style="display: none;">
                <img src="{% static 'img/like.png' %}" class="like-icon">
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}