{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}?after" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="mypage-info">
    <h2>{{ target_user.nickname }}님, 안녕하세요!</h2>
    <a href="#">내 정보 수정 ></a>
    <a href="#">내가 쓴 글 목록 ></a>
  </div>
    <div class="my-game" >
      <div class="like-game">
        <div class="like-game-title">
          <img src="{% static 'img/blacklike.png' %}" alt="" />
            <a href="#"><span>좋아요 한 게임</span></a>
            <span>{{ liked_list | length }}</span>
        </div>
        <ul>
        {% for game in liked_list %}
          <a href="{% url 'game:detail' pk=game.pk%}">
              <li>
                  {% if game.image %}
                      <img src="{{ game.image.url }}" width="100px" height="100px" alt="">
                  {% else %}
                      <img src="{% static 'img/thumbnail.png' %}" alt="">
                  {% endif %}

                  <div class="like-game-element">
                      <div class="about-game">
                          <h4>{{game.title | truncatechars:45 }}</h4>
                          <p>2023.12.11</p>
                      </div>
                      <div class="likes">
                          <img src="{% static 'img/likefull.png' %}" alt="하트이미지" />
                          <span>{{game.likes.count }}</span>
                      </div>
                  </div>
              </li>
          </a>
        {% endfor %}
        </ul>
      </div>

      <div class="save-game">
        <div class="like-game-title">
          <img src="{% static 'img/folder.png' %}" alt="" />
          <a href="{% url 'gameplaylist:list' %}"><span>담은 게임</span></a>
          <span>37</span>
        </div>
        <ul>
          {% for gamelist in collected_list %}
            {% include 'snippets/game_part2.html' with game=game %}
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>





{% endblock %}