{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/main.css' %}?after" />
{% endblock %}
{% load static %}

{% block content %}

{% if liked_ranking %}
<div class="img_wrapper">
  <p>{{ title }}</p>
  <ul class="img_list">
    {% for game in liked_ranking %}
      {% include 'snippets/game_part.html' with game=game %}
    {% endfor %}
  </ul>
</div>
    {% endif %}

{% if situation_ranking %}
<div class="img_wrapper">
  <p>{{ situation }}</p>
  <ul class="img_list">
  {% for game in situation_ranking %}
    {% include 'snippets/game_part.html' with game=game %}
  {% endfor %}
  </ul>
</div>
  {% endif %}


<script>
  // JavaScript 코드
document.addEventListener("DOMContentLoaded", function() {
  const likeIcons = document.querySelectorAll(".like-icon");

  likeIcons.forEach(icon => {
    icon.addEventListener("click", function() {
      // 이미지를 토글하여 표시하거나 숨김
      icon.classList.toggle("active");

      // 토글된 상태에 따라 다른 이미지 표시
      if (icon.classList.contains("active")) {
        icon.src = "{% static 'img/likefull.png' %}";
      } else {
        icon.src = "{% static 'img/like.png' %}";
      }
    });
  });
});
</script>

{% endblock %}