    <div class="togethergame_header">
         <div>
             <h1 class="togethergame_logo">togetherGame</h1>
         </div>
         <div>
             <a href="{% url 'page:main' %}">
                <span>인기 게임</span>
             </a>
             <a href="{% url 'game:list' %}">
                <span>게임 목록</span>
             </a>
             <a href="{% url 'game:create' %}">
                <span>게임 등록</span>
             </a>
            {% if not user.is_authenticated %}
             <a href="{% url 'account:login' %}?next={% url 'game:list' %}">
                <span>login</span>
             </a>
             <a href="{% url 'account:create' %} ">
                <span>SignUp</span>
             </a>
             {% else %}
             <a href="">
                <span>MyPage</span>
             </a>
             <a href="{% url 'account:logout' %}?next={% url 'game:list' %}">
                <span>logout</span>
             </a>
             {% endif %}
         </div>
        <div class="input-group">
            <input id="search-input" class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
            <button class="btn btn-primary" id="button-search" type="button" onclick="searchPost()">Go!</button>
        </div>
        <script>
            function searchPost(){
                let searchValue = document.getElementById('search-input').value.trim();
                if(searchValue.length > 1){
                    location.href = "/games/search/"+searchValue+"/";
                }
                else{
                    alert('검색어('+searchValue+')가 너무 짧습니다.');
                }
            };
            document.getElementById('search-input').addEventListener('keyup',function(event){
                if(event.key === 'Enter'){
                    searchPost();
                }
            });
        </script>
    </div>