{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/add_game.css' %}?after" />
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
      <div class="container">
          <div class="sec1">
            <h2>게임 특징</h2>
            <div class="background">
              <div class="select-name">
                <span>참여 인원</span>
                <span>소요 시간</span>
                <span>상황</span>
                <span>장소</span>
                <span>장르</span>
              </div>
              <div class="select-buttons">
                <form id="form1">
                  <div class="select-options" id="group1">
                    <span>최소</span>
                    <input type="text" name="min_num_ppl" value="{{ form.min_num_ppl.value|default_if_none:'' }}">
                    <span>최대</span>
                    <input type="text" name="max_num_ppl" value="{{ form.max_num_ppl.value|default_if_none:'' }}">
                  </div>

                  <div class="select-options" id="group2">
                    <span>최소</span>
                    <input type="text" name="min_time" value="{{ form.min_time.value|default_if_none:'' }}">
                    <span>최대</span>
                    <input type="text" name="max_time" value="{{ form.max_time.value|default_if_none:'' }}">
                  </div>
                </form>

                <div class="select-options" id="group3">
                  <button class="option" value="전체">전체</button>
                  <button class="option" value="MT">MT</button>
                  <button class="option" value="내기">내기</button>
                  <button class="option" value="기타">기타</button>
                </div>

                <div class="select-options" id="group4">
                  <button class="option" value="전체">전체</button>
                  <button class="option" value="실내">실내</button>
                  <button class="option" value="야외">야외</button>
                  <button class="option" value="온라인">온라인</button>
                </div>

                <div class="select-options" id="group5">
                  <button class="option" value="전체">전체</button>
                  <button class="option" value="퀴즈">퀴즈</button>
                  <button class="option" value="순발력">순발력</button>
                  <button class="option" value="두뇌게임">두뇌게임</button>
                </div>


              </div>
            </div>
          </div>
          <div class="sec2">
            <h2>게임 소개</h2>
            <form id="gameForm" action="{% url 'game:update' pk=target_game.pk %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <span>게임명</span>
              <input type="text" name="title" value="{{ form.title.value|default_if_none:'' }}" />
              <span>진행준비</span>
              <textarea name="preparation" id="" cols="30" rows="3">{{ form.preparation.value|default_if_none:'' }}</textarea>
              <span>게임 방법</span>
              <textarea name="explanation" id="" cols="30" rows="4">{{ form.explanation.value|default_if_none:'' }}</textarea>
              <span>진행 팁 / 주의사항</span>
              <textarea name="tip" id="" cols="30" rows="5">{{ form.tip.value|default_if_none:'' }}</textarea>
              <input type="hidden" id="situation" name="situation_str">
              <input type="hidden" id="place" name="place_str">
              <input type="hidden" id="game_type" name="game_type_str">
              <div class="buttons">
                <input type="reset" value="취소하기!" id="cancel" />
                <input type="submit" value="등록하기!" id="submit" />
              </div>
            </form>
          </div>
      </div>


    <script>
      // 옵션 선택 시 실행될 함수
      var groups = document.querySelectorAll(".select-options");
      for (var i = 0; i < groups.length; i++) {
        groups[i].addEventListener("click", function (event) {
          var options = this.querySelectorAll(".option");
          for (var j = 0; j < options.length; j++) {
            options[j].classList.toggle("selected", false);
          }
          if (event.target.classList.contains("option")) {
            event.target.classList.toggle("selected", true);
          }
        });
      }

      document.getElementById("gameForm").addEventListener("submit", function (event) {
        var form1 = document.getElementById('form1');
        var form2 = document.getElementById('gameForm');
        // form1의 모든 입력 요소를 가져와서 form2에 추가
        for (var i = 0; i < form1.elements.length; i++) {
            var element = form1.elements[i];
            if (element.type === 'text') {
                var clone = element.cloneNode(true);
                clone.type = "hidden";
                form2.appendChild(clone);
            }
        }

        input_situation = document.getElementById('situation');
        input_situation.value = document.querySelector("#group3 .option.selected").value;
        input_place = document.getElementById('place');
        input_place.value = document.querySelector("#group4 .option.selected").value;
        input_game_type = document.getElementById('game_type');
        input_game_type.value = document.querySelector("#group5 .option.selected").value;

        if (form2.checkValidity()) {
            form2.submit();
        } else {
            alert("에러 발생");
            event.preventDefault();
        }

      });



    </script>

    {% else %}
    <a href="{%url 'account:login'%}">
        <p>로그인을 해주세요</p>
    </a>



    {% endif %}

{% endblock %}





